h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  padding: 10px;
  border-radius: 8px;
  width: 300px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: cadetblue;
  color: black;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
